* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  background-image: url(https://w7.pngwing.com/pngs/499/159/png-transparent-ocean-seawater-wind-wave-ocean-marine-mammal-computer-wallpaper-coastal-and-oceanic-landforms.png);
  background-size: cover;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.nav-links a {
  color: #0c0b0b;
}

.logo {
  font-size: 32px;
  background-image: url(https://www.nicepng.com/png/full/545-5451130_download-png-octopus-ink-animated.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 60px;
}

.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: #b0c4e7;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

h1 {
  text-align: center;
  font-size: 50px;
  color: #0c0b0b;
}

#mybookings {
  color: black;
  position: absolute;
  left: 100px;
  font-size: 25px;
}

.calender {
  font-family: "Times New Roman", Times, serif;
  max-width: 100px;
  margin-left: 5%;
  margin-top: 5%;
  text-align: center;
}

.header {
  font-family: "Times New Roman", Times, serif;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

button {
  background-color: #ddd(223, 217, 206, 0.453);
  border: none;
  padding: 10px;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
}

table .name.calender-body {
  width: 50%;
  border-collapse: collapse;
}

#calender-body {
  background-color: rgba(0, 255, 255, 0);
}

th {
  padding: 10px;
  background-color: #ddd;
}

td {
  padding: 10px;
  text-align: center;
  background-color: rgba(246, 248, 248, 0);
}

.day-of-month {
  background-color: rgba(32, 102, 222, 0);
  cursor: pointer;
  color: rgb(8, 8, 8);
  font-size: 15px;
}

.date-cell:hover .day-of-month {
  background-color: #0ea1f061;
  color: #fff;
}

/* booking table */
.table-2 {
  position: relative;
  width: 56%;
  height: 330px;
  margin: 5% auto 0;
  margin-top: -25%;
  margin-right: 5%;

  border-collapse: collapse;
  border-spacing: 5px;
  padding-top: 5px;
  overflow-x: auto;
  overflow-y: auto;
}

td#room.cell.selected {
  text-align: center;
  background-color: gray;
}

td#room.cell.booked {
  text-align: center;
  background-color: red;
}

td#room.cell {
  text-align: center;
  background-color: green;
  user-select: none;
  border-color: #0c0b0b;
  border-width: 2px;
  border-style: solid;

  width: 10px;
  height: 15px;
}

.today {
  background-color: #f2f2f2;
}
